.nav_left{
  background: #fff;
  overflow: auto;
  /* height: calc(100vh), */
}

.nav_left_top{
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_left_top ul.ant-menu-inline{
  border-right: none !important;
}

.nav_left_top button{
  margin: 0 auto;
}

.link_font_color{
  color: rgba(255, 255, 255, 0.65)
}



/**
*  menu  覆盖样式
*/

:global(.nav_left .ant-layout-sider) {
  background: #ffffff !important;
}
:global(.nav_left .ant-menu .ant-menu-item) {
  margin-top: 0 !important;
}

:global(.nav_left .ant-menu-inline .ant-menu-item:after), 
:global(.nav_left .ant-menu-vertical .ant-menu-item:after){  
  right: auto;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 5px solid #FFC400;
}

/**
* 覆盖 menu闭合之后鼠标引动右侧出现选择栏的宽度
*/
/* :global(.nav_left .ant-menu-submenu-popup, ){
  width: 120px;
} */
/* 
:global(.nav_left ul.ant-menu-inline){
  border-right: none !important;
} */


