.nav_left{
  /* background: #011429; */  
  background: #fff;
  overflow: auto;
  height: calc(100vh),
}
.nav_left_top{
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_left_top button{
  margin: 0 auto;
}
.link_font_color{
  color: rgba(255, 255, 255, 0.65)
}


