

.input{
  width: 64px;
  margin-right: 20px;
}
.item__input{
  display: inline-block;
  position: relative;
}

.remove_value_btn{
  position: absolute;
  right: 15%;
  top: -7px;
  font-size: 20px !important;
  display: none;
  opacity: 0.6;
  cursor: pointer;
}
.remove_value_btn:hover{
  opacity: 1;
}

.item__input:hover .remove_value_btn{
  display: block;
}