.card_box{
  padding: 0 70px;
  margin-top: 20px;
}
.time_title{
  line-height: 30px;
  margin-left: 10px;
}
.discount_font{
  margin: 0 10px;
}
.discount_input_left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount_input_right{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.plus_circle, .minus_circle{
  font-size: 22px;
}
.minus_circle{
  margin-left: 10px;
}
.discount_title{
  margin-right: 10px;
}
.save_btn{
  margin-top: 20px;
}
.card_box_col{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box_col_form_item{
  margin-bottom: 0;
}
.operation_table{
  cursor: pointer;
}
