


.header_top{
  text-align: right;
  color: #5d5d5d;
}
.header_go_out{
  display: inline-block;
  text-align: right;
}
.header_go_out a{
  margin-left: 20px;
}

.user__handle{
  min-height: 64px;
  max-height: 100%;
  line-height: 100%;
}


.col___styles--handle{
  margin-left: 30px;
}

.logo_font{
  font-size: 13px;
  color: #202020;
  font-weight: bold;
  margin-left: 10px;
}

.select__input{
  width: 120px;
}